<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>net.killua.bindfs</string>
  <key>ProgramArguments</key>
  <array>
    <!-- here is the important thing -->
    <string>sh</string>
    <string>-c</string>
    <string>sh -c "~/conf/script/mac_bindfs 2>/tmp/bindfs.err > /tmp/bindfs.log"</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
